<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show all data</title>
</head>
<body>
<h2>show student all details</h2>
		<table border="1" cellpadding="0" cellspacing="0">
			<th>ID</th><th>Name</th><th>Sex</th><th>Birthday</th>
			<th>Email</th><th>Phone</th><th>Address</th>
			{% for student in students %}
				<tr>
					<td>{{ student.id }} </td>
					<td>{{ student.cName }} </td>
					<td>{{ student.cSex}} </td>
					<td>{{ student.cBirthday }} </td>
					<td>{{ student.cEmail }} </td>
					<td>{{ student.cPhone}} </td>
					<td>{{ student.cAddr }} </td>
				</tr>
			{% endfor %}
		</table>
</body>
</html>